footer{
    background-color: rgba(244, 244, 255, .2);
    width: 100%;
    height: 10vh;
    display:flex;
    justify-content: space-between;
    padding: 20px;
  }

a{
    text-decoration: none;
    color: rgb(32,106,93);

}

a:hover{
  color: rgb(245, 134, 52);
}