@import url('https://fonts.googleapis.com/css2?family=Delius&family=Delius+Unicase:wght@700&display=swap');

.header{
  background-color: rgba(244, 244, 255, .2);
  width: 100%;
  height: 10vh;
  display:flex;
  align-items: center;
}

h1{
  color: rgb(245, 134, 52);
  padding-left: .5em;
  font-size: 3em;
  /* text-transform: uppercase; */
  font-family: 'Delius Unicase', cursive;
  }