@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#todo-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px 0 5px 0;
}
#todo-form input {
  background-color: rgb(32, 106, 93);
  border: 0;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  height: 50px;
  width: 250px;
  padding: 0 20px;
  margin: 0 10px 0 0;
  font-family: 'Open Sans', sans-serif;
}

#todo-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#todo-form input:focus,
#todo-form button:focus {
  outline: none;
}

#todo-form button {
  background-color: rgb(255, 204, 41);
  border: 0;
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-weight: bolder;
}

#todo-form input:hover {
  transform: scaleY(1.1);
}

#todo-form button:hover{
  transform: scale(1.1);
}

#plus {
  font-size: larger;
}
