.list{
    color: rgba(255,255,255,1);
    background-color: darkorchid;
    border-radius: 5px;
    height:50px;
    width: 300px;
    margin: 20px auto;

}

.list p{
    padding: 10px;
    position: relative;
}

.list i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.icon{
    margin: 0 5px;
    font-size: 15px;
}