.todo-list{
    list-style: none;
}

.todo-item{
    color: rgba(255,255,255,1);
    background-color: rgb(245, 134, 52);
    border-radius: 5px;
    height:50px;
    width: 300px;
    margin: 20px auto;
    padding: 0 10px;
    position: relative;

}

.todo-item i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#trash{
    margin: 0 5px;
    font-size: 15px;
}