@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.todo-list{
    list-style: none;
    padding-left: 0px;
}

.todo-item{
    color: rgba(255,255,255,1);
    background-color: rgb(245, 134, 52);
    border-radius: 5px;
    height:50px;
    width: 310px;
    margin: 20px auto;
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}

.todo-item i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#trash{
    margin: 0 5px;
    font-size: 15px;
}