*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;

}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(175, 193, 120);
  background-image: url(img/coffee-list-close-up.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: space-between;

}

#root{
  width: inherit;
}

.todo-container{
  background-color: hsl(79, 98%, 55%, .4);
  min-height: 500px;
  width: 400px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 5px 5px hsla(0, 0%, 20%, .2);
}

#custom-target {
  position: relative;
  width: 600px;
  height: 300px;
  border-style: solid;
  z-index: -1;
}

.position-absolute {
  position: absolute;
}
