body{
  background-color: darkslateblue;
}

.container{
  background-color: dimgray;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

header h1{
  color: white;
}

#todo-form input{
  background-color: darkcyan;
  border: 0;
  border-radius: 10px;
  color: rgba(255,255,255,1);
  height:50px;
  width: 200px;
  padding: 0 20px;
  margin: 20px;
}

#todo-form input::placeholder{
  color: rgba(255,255,255,0.5);
}

#todo-form input:focus, #todo-form button:focus{
  outline: none;
}

#todo-form button{
  background-color: darkgoldenrod;
  border: 0;
  border-radius: 5px;
  color: rgba(255,255,255,1);
  height:50px;
  width: 80px;
  cursor: pointer;
  font-weight: bolder;
}
